body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
    margin: none;
    height: 100vh;
    }
.grid-container{
    background-color: black;
    width: 1000px;
    height: 1000px;
    display: grid;
    grid-template-columns: 3.2fr 3.4fr;
    grid-template-rows: 1fr 1fr;
    gap:10px;
    border: 10px solid black;
}
.red{
    background-color: #E72F24;
}
.blue{
	background-color: #004592;
}
.black{
	background-color: #232629;
}
.yellow{
	background-color: #F9D01E;
}
.white{
	background-color: #F0F1EC;
}
.item1{
	display: grid;
	grid-template-columns: 3fr 5fr 4fr;
	grid-template-rows: 1fr 1fr 6fr;
	gap:10px;
}
.item1-blue{
	grid-column: span 2;
}
.item1-red5{
	grid-column: span 2;
}
.item2{
	display:grid;
	grid-template-columns: 12fr 12.5fr;
	grid-template-rows: 12.5fr 13.5fr;
	gap:10px;
}
.item2-2{
	display:grid;
	grid-template-columns: 4.5fr 8fr;
	grid-template-rows: 9.5fr 3fr;
	gap:10px;
}
.item2-2-white1{
	grid-column: 1/-1;
	grid-row: 1/2;
}
.item2-2-white2{
	grid-column: 2/-1;
	grid-row: 1/-1;
}
.item2-4{
	display: grid;
	grid-template-columns: 4.5fr 8fr;
	grid-template-rows: 3fr 10.5fr;
	gap:10px;
}
.item2-4-white1{
	grid-area: 1/2/-1/-1;
}
.item2-4-white2{
	grid-area: 2/1/-1/-1;
}
.item2-3{
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 4.5fr 5.5fr 3.5fr;
	gap:10px
}
.item2-3-blue1{
	grid-area: 1/1/2/-1;
}
.item2-3-blue2{
	grid-area: 1/2/-1/-1;
}
.item3{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 15.5fr 12fr;
	gap:10px;
}
.item3-1{
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 7fr 5fr 4fr;
	gap:10px;
}
.item3-1-white1{
	grid-row: 1/-1;
}
.item3-1-blue1{
	display: grid;
	grid-template-columns: 9.5fr 3fr;
	grid-template-rows:2fr 5fr;
	gap: 10px;
}
.item3-1-blue1>div[class="blue"]{
	grid-row: span 2;
}
.item3-1-blue2{
	display:grid;
	grid-template-columns: 9.5fr 3fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px;
}
.item3-1-blue2-b1{
	grid-row-start: 1;
	grid-row-end: -1;
	grid-column: 1/2;
}
.item3-blue2-b2{
	grid-area: 1/2/2/3;
}
.item3-1-blue2-b3{
	grid-area: 2/1/3/3;
}
.item3-2{
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
	gap:10px;
}
.item3-2-1{
	display: grid;
	grid-template-columns: 8.5fr 3fr;
	grid-template-rows: 3.5fr 8.5fr;
	gap:10px;
}
.item3-2-2{
	display: grid;
	grid-template-columns: 7.5fr 4fr;
	grid-template-rows: 3.5fr 8.5fr;
	gap:10px;
}
.item3-2-1-white1{
	grid-area: 1/1/-1/2;
}
.item3-2-1-white2{
	grid-area: 2/1/3/3;
}
.item3-2-2-white1{
	grid-area: 1/1/-1/2;
}
.item3-2-2-white2{
	grid-area: 2/1/3/3;
}
.item4{
	display: grid;
	grid-template-rows: 4.9fr 11.1fr 5fr;
	gap: 10px;
}